header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #FF66B6;
  padding: 0px;
}
header ul{
  list-style: none;
  padding-left: 0px;
}
.header-list{
  width: 900px;
  margin: auto;
  overflow: hidden;
}
.header-list li{
  float: left;
  width: 140px;
  padding: 20px 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}
.top-wrapper{
  clear: left;
  background-color: #79D1B0;
  height: 500px;
}

.profile-wrapper{
  background-color: #33BFDB;
  height: 200px;
}
.work-wrapper{
  background-color: #F58E7E;
  height: 200px;
}
.blog-wrapper{
  background-color: #FDC44F;
  height: 200px;
}
.contact-wrapper{
  background-color: #93B8CA;
  height: 200px;
}
footer{
  background-color: #8DCF3F;
  height: 200px;
}
